<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fluterrapp">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
      <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7392433179328561~9065864941"/>
    </application>
      
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
